@charset "utf-8";

/* Modern Menu */
.modern-menu {
	height: 30px;
	position: relative;
	clear: both;
}
.modern-menu.mm-vertical {
	width: 184px;
	height: auto;
}

/* General reset */
.modern-menu, .modern-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

	/* A button item */
	.modern-menu li {
		position: relative;
	}

	/* A button */
	.modern-menu a {
		height: 100%;
		text-decoration: none;
		display: block;
		position: relative;
		overflow: hidden;
		z-index: 101;
		border: none;
	}

	/* The label of a button */
	.modern-menu a span {
		line-height: 40px;
		padding: 0 6px;
		display: block;
	}
	.modern-menu.mm-vertical a span {
		line-height: 26px;
	}

	/* The label of a button with a dropdown */
	.mm-container.mm-drop span {
		padding-right: 10px;
	}

	/* A horizontal label container */
	.mm-horizontal span {
		float: left;
	}

	/* The label of a button with a dropdown */
	.mm-hdrop, .mm-hdrop-over, .mm-vdrop, .mm-vdrop-over {
		background-repeat: no-repeat;
		background-position: center right;
		padding-right: 20px;
	}

	/* A button on the right side */
	.modern-menu .mm-right {
		display: block;
		float: right;
	}

	/* The top buttons */
	.modern-menu > li {
		float: left;
	}
	.modern-menu.mm-vertical > li {
		float: none;
	}

	/* A group of buttons */
	.mm-group li {
		float: left;
	}
	.modern-menu .mm-group span {
		line-height: 40px;
	}

		/* The label of a subbutton */
		.modern-menu ul span {
			line-height: 36px;
		}

		/* A dropdown of a button */
		.modern-menu li > ul {
			width: 185px;
			font-size: 12px;
			position: absolute;
			left: -5000px;
			opacity: 0;
			z-index: 100;
		}

		/* A dropdown of a vertical menu */
		.mm-vertical li > ul {
			top: 0;
		}

		/* Dropdowns from level 2 onwards */
		.modern-menu ul ul {
			float: right;
			top: 0;
		}

	/* Icon buttons */
	.modern-menu .mm-icon span {
		width: 14px;
		height: 40px;
		background-repeat: no-repeat;
		background-position: center;
		padding: 0 18px;
	}
	.mm-vertical .mm-icon span {
		width: 10px;
	}



/* Theme 2 */
.theme2 {
}
.theme2 li a span {
	color: #ffffff;
}
.theme2 li li a span {
	color: #707070;
	background-color: #fafafa;
}
.theme2 .separacion{
	color: #ffffff;
	padding-top: 8px;
}
.theme2 .mm-over {
	color: #0574c8;
}
.theme2 .mm-hdrop {
	background-image: url("../images/theme2/hdrop.png");
}
.theme2 .mm-hdrop-over {
	background-image: url("../images/theme2/hdrop-over.png");
}
.theme2 .mm-vdrop {
	background-image: url("../images/theme2/vdrop.png");
}
.theme2 .mm-vdrop-over {
	background-image: url("../images/theme2/vdrop-over.png");
}
.theme2 .mm-facebook {
	background-image: url("../images/theme2/facebook.png");
}
.theme2 .mm-facebook-over {
	background-image: url("../images/theme2/facebook-over.png");
}
.theme2 .mm-twitter {
	background-image: url("../images/theme2/twitter.png");
}
.theme2 .mm-twitter-over {
	background-image: url("../images/theme2/twitter-over.png");
}
.theme2 .mm-googleplus {
	background-image: url("../images/theme2/googleplus.png");
}
.theme2 .mm-googleplus-over {
	background-image: url("../images/theme2/googleplus-over.png");
}
.theme2 .mm-linkedin {
	background-image: url("../images/theme2/linkedin.png");
}
.theme2 .mm-linkedin-over {
	background-image: url("../images/theme2/linkedin-over.png");
}
