                <div class="col-lg-2">
                   <div class="form-group" title="Seleccione estatus EE">
                   		<label>Estatus EE: </label>
                        <select class="form-control" id="estatus_ee" name="estatus_ee">
                            <option value=''>-Seleccione-</option>
                            <option value='1'>Completado</option>
                            <option value='3'>No Completado</option>
                        </select>
                    </div>
                </div>
