                <div class="col-lg-2">
                   <div class="form-group">
                        <label>Nro Orden Compra: </label><span style="visibility:hidden" class="glyphicon glyphicon-plus-sign" id="ingreso_oc" name="ingreso_oc" data-toggle="modal" data-target="#myModalIngresarOC"></span>
                        <input class="form-control" placeholder="Ingrese orden compra" id="n_oc_principal" name="linea_1" title="Ingreso orden de compra">
                    </div>
                </div>
