			<!-- Modal -->
            <div class="modal fade" id="myModalIngresarFacturas" tabindex="-1" role="dialog" aria-labelledby="TituloModalFactura" aria-hidden="true">
            	<div class="modal-dialog">
                	<div class="modal-content">
                  		<div class="modal-header">
                    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    		<h4 class="modal-title" id="TituloModalFactura">Ingresar Facturas</h4>
                  		</div>
                  		<div class="modal-body">
                    		<div class="panel panel-default">
                                <div class="panel-heading">
									<center><label><h5 id="TituloPanelIngresoFacturas">INGRESO DE MULTIPLES FACTURAS</h5></label></center>
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                     <textarea rows="6" style="width:100%" id="txtNumeroFacturas"></textarea>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                  		</div>
						<div class="modal-footer"> 
							<button type="button" class="btn btn-default" id="btn_NumCerrarFacturas" name="btn_NumCerrarFacturas" data-dismiss="modal"> 
								<span class="glyphicon glyphicon-floppy-remove"></span>Cancelar
							</button>
							<button type="button" class="btn btn-primary" id="btn_guardar_nro_facturas" name="btn_guardar_nro_facturas" data-dismiss="modal"> 
								<span class="glyphicon glyphicon-floppy-saved"></span>Ingresar
							</button>
                  		</div>
                	</div>
              	</div>
            </div><!-- </div> -->