<div class="administracion">
    <img src="img/oc.png" alt="EDI" class="imgMenuInterno"/>
    <h1>EMBARCADORES</h1>
    <ul>
		<li id="menu_11" style="display:none"><a href="embarcadores/descargarOC850.php"><img src="img/edi-icon.png" alt="EDI"/>DESCARGAR OC 850</a></li>
		<li id="menu_12" style="display:none"><a href="embarcadores/descargarOC856.php"><img src="img/edi-icon.png" alt="EDI"/>DESCARGAR OC 856</a></li>
		<li id="menu_15" style="display:none"><a href="embarcadores/carga_manual.php"><img src="img/edi-icon.png" alt="EDI"/>CARGA MANUAL</a></li>
	</ul>
</div>