<div class="administracion">
	<img src="img/administracion.png" alt="administración" class="imgMenuInterno"/>
	<h1>ADMINISTRACIÓN</h1>
	<ul>
		<li id="menu_1" style="display:none"><a href="administracion/usuarios.php"><img src="img/usuarios-icon.png" alt="usuarios"/>USUARIOS</a></li>
		<li id="menu_2" style="display:none"><a href="administracion/proveedores.php"><img src="img/proveedores-icon.png" alt="Proveedores"/>PROVEEDORES</a></li>
		<li id="menu_3" style="display:none"><a href="administracion/embarcadores.php"><img src="img/embarcaderos-icon.png" alt="Embarcaderos"/>EMBARCADORES</a></li>
		<li id="menu_13" style="display:none"><a href="administracion/sociedades.php"><img src="img/edi-icon.png" alt="Reportes"/>SOCIEDADES</a></li>
		<li id="menu_16" style="display:none"><a href="administracion/paisOrigen.php"><img src="img/edi-icon.png" alt="Reportes"/>PAIS ORIGEN</a></li>
		<li id="menu_4" style="display:none"><a href="administracion/reportes.php"><img src="img/edi-icon.png" alt="Reportes"/>REPORTE LOG FACTURAS</a></li>
		<li id="menu_5" style="display:none"><a href="administracion/reporte_general.php"><img src="img/edi-icon.png" alt="Reportes"/>REPORTE LOG PROCESOS</a></li>
	</ul>
</div>
