<div class="division" id="divisionProveedores" style="width: 1px;float: left;"></div>
<div class="administracion">
    <img src="img/oc.png" alt="EDI" class="imgMenuInterno"/>
    <h1>PROVEEDORES</h1>
    <ul>
        <li id="menu_9" style="display:none"><a href="proveedores/descargarOC850.php"><img src="img/edi-icon.png" alt="EDI"/>DESCARGAR OC 850</a></li>
        <li id="menu_10" style="display:none"><a href="proveedores/facturas.php"><img src="img/edi-icon.png" alt="EDI"/>CARGAR FACTURA</a></li>
    </ul>
</div>