<div class="division" id="divisionEdi" style="width: 1px;float: left;"></div>
<div class="administracion" style="margin-left: 50px;width: 270px;">
    <img src="img/edi.png" alt="EDI" class="imgMenuInterno"/>
	<h1>EDI</h1>
    <ul style="width: 300px;">
        <li id="menu_6" style="display:none"><a href="edi/edi810.php"><img src="img/edi-icon.png" alt="EDI"/>EDI 810</a></li>
        <li id="menu_7" style="display:none"><a href="edi/edi855.php"><img src="img/edi-icon.png" alt="EDI"/>EDI 855</a></li>
        <li id="menu_8" style="display:none"><a href="edi/edi856.php"><img src="img/edi-icon.png" alt="EDI"/>EDI 856</a></li>
		<li id="menu_17" style="display:none"><a href="edi/edi1666.php"><img src="img/edi-icon.png" alt="EDI"/>STATUS DE IMPORTACIONES FACTURADAS</a></li>
		<li id="menu_14" style="display:none"><a href="edi/carga_manual.php"><img src="img/edi-icon.png" alt="EDI"/>CARGA MANUAL</a></li>
		<li id="menu_18" style="display:none"><a href="edi/carga_comex.php"><img src="img/edi-icon.png" alt="EDI"/>CARGA COMEX</a></li>
		<li id="menu_19" style="display:none"><a href="edi/carga_compras_comex.php"><img src="img/edi-icon.png" alt="EDI"/>CARGA COMPRAS COMEX</a></li>
    </ul>
</div>