                <div class="col-lg-2">
                   <div class="form-group">
                        <label>Nro. Factura: </label><span style="visibility:hidden" class="glyphicon glyphicon-plus-sign" id="ingreso_factura" name="ingreso_factura" data-toggle="modal" data-target="#myModalIngresarFacturas"></span>
                        <input class="form-control" placeholder="Ingrese factura.." id="nro_factura" name="linea_1" title="Ingrese Numero de Factura">
                    </div>
                </div>
